<a href="https://colab.research.google.com/github/lmt822/Olympics/blob/main/Athlete_Events.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Mounted at /content/drive

In [ ]:
!pip install pycountry
import pycountry

Requirement already satisfied: pycountry in /usr/local/lib/python3.7/dist-packages (20.7.3)

In [ ]:
location = '/content/drive/My Drive/550 Project/Data'
athlete_events = pd.read_csv('{}/athlete_events.csv'.format(location))
athlete_events

            ID  ... Medal
0            1  ...   NaN
1            2  ...   NaN
2            3  ...   NaN
3            4  ...  Gold
4            5  ...   NaN
...        ...  ...   ...
271111  135569  ...   NaN
271112  135570  ...   NaN
271113  135570  ...   NaN
271114  135571  ...   NaN
271115  135571  ...   NaN

[271116 rows x 15 columns]

In [ ]:
athlete_events = athlete_events.drop_duplicates()
athlete_events.shape

(269731, 15)

##### **Exploratory Data Analysis**

In [ ]:
athlete_events.describe()

                  ID            Age  ...         Weight           Year
count  269731.000000  260416.000000  ...  208204.000000  269731.000000
mean    68264.949591      25.454776  ...      70.701778    1978.623073
std     39026.253843       6.163869  ...      14.349027      29.752055
min         1.000000      10.000000  ...      25.000000    1896.000000
25%     34655.500000      21.000000  ...      60.000000    1960.000000
50%     68233.000000      24.000000  ...      70.000000    1988.000000
75%    102111.000000      28.000000  ...      79.000000    2002.000000
max    135571.000000      97.000000  ...     214.000000    2016.000000

[8 rows x 5 columns]

In [ ]:
male = athlete_events[athlete_events['Sex'] =='M']
len(male)

195353

In [ ]:
female = athlete_events[athlete_events['Sex'] =='F']
len(female)

74378

In [ ]:
athlete_events.Games.nunique()

51

In [ ]:
athlete_events.Year.nunique()

35

In [ ]:
athlete_events.Sport.nunique()

66

In [ ]:
athlete_events.Event.nunique()

765

In [ ]:
gold = athlete_events[athlete_events['Medal'] =='Gold']
len(gold)

13369

In [ ]:
silver = athlete_events[athlete_events['Medal'] =='Silver']
len(silver)

13108

In [ ]:
bronze = athlete_events[athlete_events['Medal'] =='Bronze']
len(bronze)

13295

##### **Data Cleaning**

In [ ]:
athlete_events

            ID  ... Medal
0            1  ...   NaN
1            2  ...   NaN
2            3  ...   NaN
3            4  ...  Gold
4            5  ...   NaN
...        ...  ...   ...
271111  135569  ...   NaN
271112  135570  ...   NaN
271113  135570  ...   NaN
271114  135571  ...   NaN
271115  135571  ...   NaN

[269731 rows x 15 columns]

In [ ]:
athlete_events = athlete_events[athlete_events['Age'].notna()]
athlete_events = athlete_events[athlete_events.Year != 1906]
athlete_events.shape

(259426, 15)

In [ ]:
athlete_events.loc[athlete_events.City == "Stockholm", "City"] = "Melbourne / Stockholm"
athlete_events.loc[athlete_events.City == "Melbourne", "City"] = "Melbourne / Stockholm"

In [ ]:
athlete = athlete_events.copy()
athlete['BirthYear'] = athlete['Year'] - athlete['Age']

In [ ]:
athlete.columns[athlete.isna().any()].tolist()

['Height', 'Weight', 'Medal']

In [ ]:
athlete.isnull().sum(axis = 0)

ID                0
Name              0
Sex               0
Age               0
Height        49638
Weight        52288
Team              0
NOC               0
Games             0
Year              0
Season            0
City              0
Sport             0
Event             0
Medal        220689
BirthYear         0
dtype: int64

In [ ]:
athlete = athlete.drop(columns=['Team', 'Age', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'])
# athlete = athlete[athlete['BirthYear'].notna()]
athlete['BirthYear'] = athlete['BirthYear'].astype('int64')
athlete

            ID                      Name Sex  Height  Weight  NOC  BirthYear
0            1                 A Dijiang   M   180.0    80.0  CHN       1968
1            2                  A Lamusi   M   170.0    60.0  CHN       1989
2            3       Gunnar Nielsen Aaby   M     NaN     NaN  DEN       1896
3            4      Edgar Lindenau Aabye   M     NaN     NaN  DEN       1866
4            5  Christine Jacoba Aaftink   F   185.0    82.0  NED       1967
...        ...                       ...  ..     ...     ...  ...        ...
271111  135569                Andrzej ya   M   179.0    89.0  POL       1947
271112  135570                  Piotr ya   M   176.0    59.0  POL       1987
271113  135570                  Piotr ya   M   176.0    59.0  POL       1987
271114  135571        Tomasz Ireneusz ya   M   185.0    96.0  POL       1968
271115  135571        Tomasz Ireneusz ya   M   185.0    96.0  POL       1968

[259426 rows x 7 columns]

In [ ]:
b = athlete.groupby('ID')['BirthYear'].min().reset_index()
athlete = athlete.drop(columns=['BirthYear'])
athlete = athlete.merge(b, how='inner', on='ID')

In [ ]:
athlete = athlete.drop_duplicates()
athlete.shape

(130682, 7)

In [ ]:
 di = {}
 di["ALG"] = "DZA" 
 di["ASA"] = "ASM"  
 di["ANG"] = "AGO" 
 di["ANT"] = "ATG" 
 di["ARU"] = "ABW"   
 di["BAH"] = "BHS"   
 di["BRN"] = "BHR"   
 di["BAN"] = "BGD"   
 di["BAR"] = "BRB"   
 di["BIZ"] = "BLZ"   
 di["BER"] = "BMU"   
 di["BHU"] = "BTN"   
 di["BOT"] = "BWA"   
 di["IVB"] = "VGB"   
 di["BRU"] = "BRN"   
 di["BUL"] = "BGR"   
 di["BUR"] = "BFA"   
 di["CAM"] = "KHM"   
 di["CAY"] = "CYM"   
 di["CHA"] = "TCD"   
 di["CHI"] = "CHL"   
 di["CGO"] = "COG"   
 di["CRC"] = "CRI"   
 di["CRO"] = "HRV"   
 di["DEN"] = "DNK"   
 di["ESA"] = "SLV"   
 di["GEQ"] = "GNQ"   
 di["FIJ"] = "FJI"   
 di["GAM"] = "GMB"   
 di["GER"] = "DEU"   
 di["GRE"] = "GRC"   
 di["GRN"] = "GRD"   
 di["GUA"] = "GTM"   
 di["GUI"] = "GIN"   
 di["GBS"] = "GNB"   
 di["HAI"] = "HTI"   
 di["HON"] = "HND"   
 di["INA"] = "IDN"   
 di["IRI"] = "IRN"   
 di["KUW"] = "KWT"   
 di["LAT"] = "LVA"   
 di["LIB"] = "LBN"   
 di["LES"] = "LSO"   
 di["LBA"] = "LBY"   
 di["MAD"] = "MDG"   
 di["MAW"] = "MWI"   
 di["MAS"] = "MYS"   
 di["MTN"] = "MRT"   
 di["MRI"] = "MUS"   
 di["MON"] = "MCO"   
 di["MGL"] = "MNG"   
 di["MYA"] = "MMR"   
 di["NEP"] = "NPL"   
 di["NED"] = "NLD"   
 di["NCA"] = "NIC"   
 di["NIG"] = "NER"   
 di["NGR"] = "NGA"   
 di["OMA"] = "OMN"   
 di["PLE"] = "PSE"   
 di["PAR"] = "PRY"   
 di["PHI"] = "PHL"   
 di["POR"] = "PRT"   
 di["PUR"] = "PRI"   
 di["SKN"] = "KNA"   
 di["VIN"] = "VCT"   
 di["SAM"] = "WSM"   
 di["KSA"] = "SAU"   
 di["SEY"] = "SYC"   
 di["SIN"] = "SGP"   
 di["SLO"] = "SVN"   
 di["SOL"] = "SLB"   
 di["RSA"] = "ZAF"   
 di["SRI"] = "LKA"   
 di["SUD"] = "SDN"   
 di["SUI"] = "CHE"   
 di["TPE"] = "TWN"   
 di["TAN"] = "TZA"   
 di["TOG"] = "TGO"   
 di["TGA"] = "TON"   
 di["TRI"] = "TTO"   
 di["UAE"] = "ARE"   
 di["ISV"] = "VIR"   
 di["URU"] = "URY"   
 di["VAN"] = "VUT"   
 di["VIE"] = "VNM"   
 di["ZAM"] = "ZMB"   
 di["ZIM"] = "ZWE"

In [ ]:
list_alpha_3 = [i.alpha_3 for i in list(pycountry.countries)] 

def country_flag(df):
    if (len(df['NOC'])==3 and df['NOC'] in list_alpha_3):
        return pycountry.countries.get(alpha_3=df['NOC']).name
    elif df['NOC'] in di.keys():
        return pycountry.countries.get(alpha_3=di[df['NOC']]).name
    else:
        return 'ERR'

athlete['Country']=athlete.apply(country_flag, axis = 1)

In [ ]:
athlete

            ID                          Name  ... BirthYear             Country
0            1                     A Dijiang  ...      1968               China
1            2                      A Lamusi  ...      1989               China
2            3           Gunnar Nielsen Aaby  ...      1896             Denmark
3            4          Edgar Lindenau Aabye  ...      1866             Denmark
4            5      Christine Jacoba Aaftink  ...      1967         Netherlands
...        ...                           ...  ...       ...                 ...
259418  135567  Aleksandr Viktorovich Zyuzin  ...      1976  Russian Federation
259420  135568        Olga Igorevna Zyuzkova  ...      1983             Belarus
259421  135569                    Andrzej ya  ...      1947              Poland
259422  135570                      Piotr ya  ...      1987              Poland
259424  135571            Tomasz Ireneusz ya  ...      1968              Poland

[130682 rows x 8 columns]

In [ ]:
# athlete[athlete.Country == 'ERR']['Team'].value_counts()

In [ ]:
athlete[athlete.Country == 'ERR']['NOC'].value_counts()

URS    2857
TCH    1933
FRG    1708
GDR    1360
YUG    1226
EUN     601
SCG     205
IOA      76
AHO      54
ANZ      51
BOH      49
UAR      44
SAA      36
MAL      18
WIF      13
RHO      10
ROT      10
YAR      10
KOS       8
YMD       5
NBO       2
NFL       1
Name: NOC, dtype: int64

In [ ]:
# athlete = athlete[athlete.Country != 'Invalid Code']
athlete = athlete.drop_duplicates()
athlete.shape

(130682, 8)

In [ ]:
a = athlete[['Name', 'NOC', 'BirthYear']].duplicated()

In [ ]:
athlete.loc[a.values == True]

            ID                   Name Sex  ...  NOC  BirthYear             Country
14912     8433        Muhammad Bashir   M  ...  PAK       1935            Pakistan
94397    50092           Jzsef Horvth   M  ...  HUN       1947             Hungary
101231   53642          Jang Seong-Ho   M  ...  KOR       1978  Korea, Republic of
103513   54797           Jiang Wenwen   F  ...  CHN       1987               China
113060   59858            Kim Eun-Hui   F  ...  KOR       1973  Korea, Republic of
113091   59877             Kim Gi-Hun   M  ...  KOR       1968  Korea, Republic of
113554   60148          Kim Min-Jeong   F  ...  KOR       1986  Korea, Republic of
113998   60387             Kim Yun-Mi   F  ...  KOR       1981  Korea, Republic of
132343   69496                 Li Tao   M  ...  CHN       1968               China
136479   71563          Ferenc Lrincz   M  ...  HUN       1933             Hungary
150114   78836           David Mercer   M  ...  GBR       1961      United Kingdom
208072  109249  Nimrod Shapira Bar-Or   M  ...  ISR       1989              Israel
211427  111014           Balbir Singh   M  ...  IND       1945               India
218721  114818         Walter Steiner   M  ...  SUI       1947         Switzerland
222148  116471                Sun Jun   M  ...  CHN       1975               China
245452  128503               Wang Lei   M  ...  CHN       1981               China

[16 rows x 8 columns]

In [ ]:
athlete[athlete.Name == "Kim Min-Jeong"]

           ID           Name Sex  ...  NOC  BirthYear             Country
113552  60147  Kim Min-Jeong   F  ...  KOR       1986  Korea, Republic of
113554  60148  Kim Min-Jeong   F  ...  KOR       1986  Korea, Republic of
113555  60149  Kim Min-Jeong   F  ...  KOR       1989  Korea, Republic of

[3 rows x 8 columns]

In [ ]:
athlete.to_csv('./athlete.csv')

NameError: ignored

In [ ]:
p = pd.read_csv('/content/participates.csv')

In [ ]:
p = p[~(p[['Athlete_ID', 'Olympic_ID', 'Event_ID']].duplicated(keep=False) & p.Medal.isnull())]

In [ ]:
p[(p.Olympic_ID == 1) & (p.Event_ID == 57) & (p.Athlete_ID == 5959)]

     Unnamed: 0  Olympic_ID  Event_ID  Athlete_ID Medal
242         242           1        57        5959  Gold

In [ ]:
p = p[~p[['Athlete_ID', 'Olympic_ID', 'Event_ID']].duplicated(keep=False)]

In [ ]:
p[p[['Athlete_ID', 'Olympic_ID', 'Event_ID']].duplicated(keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, Olympic_ID, Event_ID, Athlete_ID, Medal]
Index: []

In [ ]:
p.to_csv('./participates.csv', index=False)

In [ ]:
a[~a.NOC.isin(nocs)].NOC.value_counts()

Series([], Name: NOC, dtype: int64)

In [ ]:
a.loc[a.NOC == 'TPE', 'NOC'] = 'ERR'
a.loc[a.NOC == 'TTO', 'NOC'] = 'TRI'
a.loc[a.NOC == 'SGP', 'NOC'] = 'SIN'
a.loc[a.NOC == 'CIV', 'NOC'] = 'ERR'
a.loc[a.NOC == 'VNM', 'NOC'] = 'VIE'

In [ ]:
c[c.Country_name=='Singapore']

     Unnamed: 0 Country_name   Area  ...       GDP  UnE_rate  NOC
182         182    Singapore  719.0  ...  292734.0       2.0  SIN

[1 rows x 8 columns]

In [ ]:
c.Country_name

0          Afghanistan
1              Albania
2              Algeria
3       American Samoa
4              Andorra
            ...
225     Western Sahara
226              Yemen
227             Zambia
228           Zimbabwe
229    No longer exist
Name: Country_name, Length: 230, dtype: object

In [ ]:
a.to_csv('./athlete.csv')

In [ ]:
""