<a href="https://colab.research.google.com/github/lmt822/Olympics/blob/main/Participation_2rd_Version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import os
import numpy as np

In [ ]:
location = '/content/drive/My Drive/550 Project/Data'
athlete_events = pd.read_csv('{}/athlete_events.csv'.format(location))
athlete_events

            ID  ... Medal
0            1  ...   NaN
1            2  ...   NaN
2            3  ...   NaN
3            4  ...  Gold
4            5  ...   NaN
...        ...  ...   ...
271111  135569  ...   NaN
271112  135570  ...   NaN
271113  135570  ...   NaN
271114  135571  ...   NaN
271115  135571  ...   NaN

[271116 rows x 15 columns]

In [ ]:
athlete_events = athlete_events.drop_duplicates()
athlete_events.shape

(269731, 15)

In [ ]:
athlete_events.isnull().sum(axis = 0)

ID             0
Name           0
Sex            0
Age         9315
Height     58814
Weight     61527
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     229959
dtype: int64

**Creating Olympic_game.csv and Game_Event.csv.**

In [ ]:
athlete_events = athlete_events[athlete_events['Age'].notna()]
athlete_events = athlete_events[athlete_events.Year != 1906]
athlete_events.shape

(259426, 15)

In [ ]:
athlete_events.loc[athlete_events.City == "Stockholm", "City"] = "Melbourne / Stockholm"
athlete_events.loc[athlete_events.City == "Melbourne", "City"] = "Melbourne / Stockholm"

In [ ]:
olympic_game = athlete_events.copy()
olympic_game = olympic_game[['City','Year','Season']].drop_duplicates()
olympic_game = olympic_game.sort_values(by=['Year'])

olympic_game = olympic_game.reset_index().drop(columns='index')
olympic_game.reset_index(inplace=True)
olympic_game.rename(columns={"index": "Olympic_ID"}, inplace=True)

olympic_game

    Olympic_ID                    City  Year  Season
0            0                  Athina  1896  Summer
1            1                   Paris  1900  Summer
2            2               St. Louis  1904  Summer
3            3                  London  1908  Summer
4            4   Melbourne / Stockholm  1912  Summer
5            5               Antwerpen  1920  Summer
6            6                   Paris  1924  Summer
7            7                Chamonix  1924  Winter
8            8               Amsterdam  1928  Summer
9            9            Sankt Moritz  1928  Winter
10          10             Lake Placid  1932  Winter
11          11             Los Angeles  1932  Summer
12          12  Garmisch-Partenkirchen  1936  Winter
13          13                  Berlin  1936  Summer
14          14            Sankt Moritz  1948  Winter
15          15                  London  1948  Summer
16          16                    Oslo  1952  Winter
17          17                Helsinki  1952  Summer
18          18   Melbourne / Stockholm  1956  Summer
19          19       Cortina d'Ampezzo  1956  Winter
20          20            Squaw Valley  1960  Winter
21          21                    Roma  1960  Summer
22          22                   Tokyo  1964  Summer
23          23               Innsbruck  1964  Winter
24          24                Grenoble  1968  Winter
25          25             Mexico City  1968  Summer
26          26                  Munich  1972  Summer
27          27                 Sapporo  1972  Winter
28          28                Montreal  1976  Summer
29          29               Innsbruck  1976  Winter
30          30             Lake Placid  1980  Winter
31          31                  Moskva  1980  Summer
32          32                Sarajevo  1984  Winter
33          33             Los Angeles  1984  Summer
34          34                 Calgary  1988  Winter
35          35                   Seoul  1988  Summer
36          36             Albertville  1992  Winter
37          37               Barcelona  1992  Summer
38          38             Lillehammer  1994  Winter
39          39                 Atlanta  1996  Summer
40          40                  Nagano  1998  Winter
41          41                  Sydney  2000  Summer
42          42          Salt Lake City  2002  Winter
43          43                  Athina  2004  Summer
44          44                  Torino  2006  Winter
45          45                 Beijing  2008  Summer
46          46               Vancouver  2010  Winter
47          47                  London  2012  Summer
48          48                   Sochi  2014  Winter
49          49          Rio de Janeiro  2016  Summer

In [ ]:
game_event = athlete_events.copy()
game_event = olympic_game.merge(game_event, on=['City', 'Year', 'Season'], how='inner')

In [ ]:
game_event.shape

(259426, 16)

In [ ]:
game_event = game_event.drop_duplicates()
game_event.shape

(259426, 16)

In [ ]:
test = game_event.copy()
test.shape

(259426, 16)

In [ ]:
game_event['Event_ID'] = pd.factorize(game_event.Sport+game_event.Event)[0]

In [ ]:
game_event.shape

(259426, 17)

In [ ]:
participates = game_event.copy()
participates = participates[['Olympic_ID', 'Event_ID', 'ID', 'Medal']]
participates = participates.rename(columns={"ID": "Athlete_ID"})

In [ ]:
participates.shape

(259426, 4)

In [ ]:
participates[participates.duplicated()]

      Olympic_ID  Event_ID  Athlete_ID Medal
254            1        56        8683   NaN
443            1        57       26037   NaN
795            1        56       67210   NaN
801            1        56       67492   NaN
885            1        56       75648   NaN
1278           1        89      125022   NaN

In [ ]:
game_event[game_event.ID == 125022]

      Olympic_ID   City  ...  Medal Event_ID
1277           1  Paris  ...    NaN       89
1278           1  Paris  ...    NaN       89

[2 rows x 17 columns]

In [ ]:
participates = participates.drop_duplicates()
participates.shape

(259420, 4)

In [ ]:
game_event = game_event[['Olympic_ID', 'Event_ID', 'Sport', 'Event']]

In [ ]:
game_event = game_event.drop_duplicates()

In [ ]:
game_event

        Olympic_ID  ...                                      Event
0                0  ...               Athletics Men's 1,500 metres
1                0  ...                   Athletics Men's Marathon
2                0  ...               Gymnastics Men's Horse Vault
3                0  ...             Gymnastics Men's Parallel Bars
4                0  ...      Gymnastics Men's Parallel Bars, Teams
...            ...  ...                                        ...
247712          49  ...              Judo Women's Half-Heavyweight
247805          49  ...                  Badminton Women's Doubles
247864          49  ...                  Table Tennis Women's Team
247980          49  ...     Canoeing Women's Kayak Singles, Slalom
250121          49  ...  Wrestling Women's Middleweight, Freestyle

[6111 rows x 4 columns]

In [ ]:
participates.dtypes

Olympic_ID     int64
Event_ID       int64
Athlete_ID     int64
Medal         object
dtype: object

In [ ]:
olympic_game.dtypes

Olympic_ID     int64
City          object
Year           int64
Season        object
dtype: object

In [ ]:
game_event.dtypes

Olympic_ID     int64
Event_ID       int64
Sport         object
Event         object
dtype: object

In [ ]:
olympic_game.to_csv('./olympic_game.csv')
game_event.to_csv('./game_event.csv')
participates.to_csv('./participates.csv')

**Creating Participate.csv**

In [ ]:
test = pd.merge(test, game_event, how="left", on=["Olympic_ID", "Sport", "Event"])

In [ ]:
test

        Olympic_ID            City  ...   Medal Event_ID
0                0          Athina  ...  Silver        0
1                0          Athina  ...     NaN        1
2                0          Athina  ...     NaN        2
3                0          Athina  ...     NaN        3
4                0          Athina  ...    Gold        4
...            ...             ...  ...     ...      ...
259421          49  Rio de Janeiro  ...     NaN      588
259422          49  Rio de Janeiro  ...     NaN      341
259423          49  Rio de Janeiro  ...     NaN      405
259424          49  Rio de Janeiro  ...     NaN      342
259425          49  Rio de Janeiro  ...     NaN      507

[259426 rows x 17 columns]

In [ ]:
test.shape

(259426, 17)

In [ ]:
test = test[['Olympic_ID', 'Event_ID', 'ID', 'Medal']]
test = test.rename(columns={"ID": "Athlete_ID"})

In [ ]:
test = test.drop_duplicates()
test.shape

(259420, 4)