In [1]:
import pandas as pd
import os
import numpy as np
import datetime

In [2]:
os.chdir(r'/Users/mengtianli/Downloads/HR/')

In [3]:
df1 = pd.read_csv('HR Ultipro Data - New Hires.csv')

In [4]:
df2 = pd.read_csv('HR Ultipro Data - Terms.csv')

In [5]:
df3 = pd.read_csv('HR Ultipro Data - Employee Roster.csv')

In [6]:
df4 = pd.read_csv('HR Ultipro Data - Changes.csv')

In [7]:
df3.columns

Index(['Unnamed: 0', 'Data Year', 'Region', 'State', 'Employee of Color',
       'Randomized Key Job Code', 'Job Title',
       'Randomized Key Success Profile', 'Manager EEID Hash', 'Manager Name',
       'Randomized Key Company Code', 'Randomized Key Division Code',
       'Division', 'Randomized Key Department Code', 'Department',
       'Randomized Key Function Code', 'Function',
       'Randomized Key Cost Center', 'Randomized Key Business Unit',
       'Location Code', 'Randomized Key Location', 'Randomized Key Market',
       'System ID Hash', 'EEID Hash', 'First Name', 'Last Name',
       'Race/Ethnicity', 'Gender', 'Disabled', 'Veteran'],
      dtype='object')

In [8]:
df3 = df3[df3['Data Year'] == '2017']

In [9]:
df3['EEID Hash'].is_unique

True

In [10]:
rehires = df1['EEID Hash'][df1['exclude'] == 0].value_counts()

KeyError: 'exclude'

In [11]:
df1['EEID Hash'][df1['exclude'] == 0].value_counts()

KeyError: 'exclude'

In [12]:
excluded_sp = ['Success Profile 2']

In [13]:
df1['exclude'] = np.where(df1['Randomized Key Success Profile'].isin(excluded_sp), 1, 0)

In [14]:
df1 = df1[df1['exclude']== 0]

In [15]:
merge = df1.merge(df2, how = "left", on = 'EEID Hash', indicator = True)

In [16]:
merge['_merge'].value_counts()

left_only     1298
both          1092
right_only       0
Name: _merge, dtype: int64

In [17]:
attrition = merge[merge['_merge'] == 'both']

In [18]:
attrition['Employee of Color_x'].value_counts()

No     709
Yes    383
Name: Employee of Color_x, dtype: int64

In [19]:
attrition.columns

Index(['Unnamed: 0_x', 'Data Year_x', 'Effective Date_x', 'Change Reason',
       'Region_x', 'State_x', 'Employee of Color_x', 'Req ID Hash',
       'Randomized Key Job Code_x', 'Job Title_x',
       'Randomized Key Success Profile_x', 'Manager EEID Hash_x',
       'Manager Name_x', 'Randomized Key Company Code_x',
       'Randomized Key Division Code_x', 'Division_x',
       'Randomized Key Department Code_x', 'Department_x',
       'Randomized Key Function Code_x', 'Function_x',
       'Randomized Key Cost Center_x', 'Randomized Key Business Unit_x',
       'Location Code_x', 'Randomized Key Location_x',
       'Randomized Key Market_x', 'EEID Hash', 'First Name_x', 'Last Name_x',
       'Race/Ethnicity_x', 'Gender_x', 'Disabled_x', 'Veteran_x', 'exclude',
       'Unnamed: 0_y', 'Data Year_y', 'Effective Date_y',
       'Voluntary/Involuntary', 'Termination Type', 'Region_y', 'State_y',
       'Employee of Color_y', 'Randomized Key Job Code_y', 'Job Title_y',
       'Randomized Key Success Profile_y', 'Manager EEID Hash_y',
       'Manager Name_y', 'Term Reason', 'Randomized Key Company Code_y',
       'Randomized Key Division Code_y', 'Division_y',
       'Randomized Key Department Code_y', 'Department_y',
       'Randomized Key Function Code_y', 'Function_y',
       'Randomized Key Cost Center_y', 'Randomized Key Business Unit_y',
       'Location Code_y', 'Randomized Key Location_y',
       'Randomized Key Market_y', 'First Name_y', 'Last Name_y',
       'Race/Ethnicity_y', 'Gender_y', 'Disabled_y', 'Veteran_y', '_merge'],
      dtype='object')

In [20]:
attrition['status'] = np.where(attrition['_merge'] == 'both', 1, 0)

<ipython-input-20-9c126d4fa85d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attrition['status'] = np.where(attrition['_merge'] == 'both', 1, 0)

In [21]:
attrition['Effective Date_x']

2       09/11/2017
4       02/27/2017
5       06/19/2017
6       05/14/2017
7       04/10/2017
           ...
2332    01/05/2020
2369    03/02/2020
2386    01/08/2020
2387    02/04/2020
2389    01/13/2020
Name: Effective Date_x, Length: 1092, dtype: object

In [22]:
attrition['status'].value_counts()

1    1092
Name: status, dtype: int64

In [23]:
attrition['Effective Date_x'] = pd.to_datetime(attrition['Effective Date_x'])
attrition['Effective Date_y'] = pd.to_datetime(attrition['Effective Date_y'])
attrition.dtypes
attrition['Effective Date_x'] - attrition['Effective Date_y']
attrition['time_delta'] = attrition['Effective Date_x'] - attrition['Effective Date_y']

<ipython-input-23-94a3473aebfd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attrition['Effective Date_x'] = pd.to_datetime(attrition['Effective Date_x'])
<ipython-input-23-94a3473aebfd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attrition['Effective Date_y'] = pd.to_datetime(attrition['Effective Date_y'])
<ipython-input-23-94a3473aebfd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attrition['time_delta'] = attrition['Effective Date_x'] - attrition['Effective Date_y']

In [31]:
attrition.to_csv(r'../attrition(1).csv', index = False)

In [37]:
attrition = pd.read_csv('attrition.csv')

In [38]:
attrition

,Unnamed: 0_x,Data Year_x,Effective Date_x,Change Reason,Region_x,State_x,Employee of Color_x,Req ID Hash,Randomized Key Job Code_x,Job Title_x,...,Randomized Key Market_y,First Name_y,Last Name_y,Race/Ethnicity_y,Gender_y,Disabled_y,Veteran_y,_merge,status,time_delta
0,2,2017,2017-09-11,New Hire,Central PA,PA,No,66de99275436bf479ccd5e622f174606cf601d76f6f5bb...,Job Code 8020,NaN,...,Market 3,NaN,NaN,NaN,NaN,NaN,NaN,both,1,267
1,4,2017,2017-05-15,New Hire,Central PA,PA,No,c8de6c4bc9f967dc778ae0f80480ee361037d19f13251a...,Job Code 3403,NaN,...,Market 5,NaN,NaN,NaN,NaN,NaN,NaN,both,1,501
2,4,2017,2017-05-15,New Hire,Central PA,PA,No,c8de6c4bc9f967dc778ae0f80480ee361037d19f13251a...,Job Code 3403,NaN,...,Market 5,NaN,NaN,NaN,NaN,NaN,NaN,both,1,95
3,5,2017,2017-05-22,New Hire,Central PA,PA,No,f5beecf7cc89e8c11a3f8cff5c2db1808785f3b51246bc...,Job Code 3403,NaN,...,Market 5,NaN,NaN,NaN,NaN,NaN,NaN,both,1,81
4,6,2017,2017-06-06,New Hire,Central PA,PA,No,4de89a402327bdfcac1f6676453b80a2b7a8894d0af2e1...,Job Code 3403,NaN,...,Market 5,NaN,NaN,NaN,NaN,NaN,NaN,both,1,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1630,2701,2020,2020-03-16,New hire,Central PA,PA,No,e9371117384643bf8600fed030ff0280ff7769d6ada134...,Job Code 2758,NaN,...,Market 3,NaN,NaN,NaN,NaN,NaN,NaN,both,1,2
1631,2750,2020,2020-01-20,Rehire,New Jersey,NJ,No,d26ce2f555152384610400ec93af54b6f81d1427a440e3...,Job Code 2334,NaN,...,Market 17,NaN,NaN,NaN,NaN,NaN,NaN,both,1,60
1632,2752,2020,2020-01-02,New hire,Southeastern PA,PA,Yes,4f071e412bf77cdff499f8f40f06615cec72ca6075baed...,Job Code 4775,NaN,...,Market 18,NaN,NaN,NaN,NaN,NaN,NaN,both,1,15
1633,2753,2020,2020-01-05,New hire,DelMarVa,MD,No,23c83e09287eee9405b44214becb8373bd1ab1831294e6...,Job Code 5357,NaN,...,Market 9,NaN,NaN,NaN,NaN,NaN,NaN,both,1,40
1634,2790,2020,2020-03-02,New hire,Central PA,PA,Yes,4aa61c0bfce39e797ba406308ace5b4e73ae7a976aef87...,Job Code 1546,NaN,...,Market 3,NaN,NaN,NaN,NaN,NaN,NaN,both,1,109